.button {
  display: inline-block;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.button-primary:hover {
  opacity: 0.7;
}

.button-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.button-secondary:hover {
  opacity: 0.7;
}

.button-tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-white);
}

.button-tertiary:hover {
  opacity: 0.7;
}

.button-quaternary {
  background-color: var(--color-quaternary);
  color: var(--color-white);
}

.button-quaternary:hover {
  opacity: 0.7;
}

.button-hover {
  background-color: var(--color-hover);
  color: var(--color-white);
}

.button-hover:hover {
  opacity: 0.7;
}

.button-text-gray {
  background-color: transparent;
  color: var(--color-gray);
}

.button-text-gray:hover {
  opacity: 0.7;
}

.button-text-primary {
  background-color: transparent;
  color: var(--color-primary);
  text-shadow: 0 0 1px var(--color-primary);
}

.button-text-primary:hover {
  opacity: 0.7;
}
