* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Popins, sans-serif;
  background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}
